.box-shadow {
  box-shadow: 0px 0px 90px 13px rgba(140, 152, 169, 0.26);
  -webkit-box-shadow: 0px 0px 90px 13px rgba(140, 152, 169, 0.26);
  -moz-box-shadow: 0px 0px 90px 13px rgba(140, 152, 169, 0.26);
}

.layout {
  min-height: 100vh;
  background-color: #063970;
}
