.container {
  min-height: 100vh;
}

.card-container {
  height: calc(100vh - 68px - 60px);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
  display: none;
}

.use-pointer {
  cursor: pointer !important;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #fff;
  border: 1px solid rgba(98, 103, 109, 0.507);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
